li, p{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  display: flex;
  padding-top: 18px;
}

.img-a{
  margin-left: 200px;
  margin-right: 65px;
}

.icon{
  margin-left: 55px;
  margin-right: 0px;
}
ul{
  display: flex;
}

li{
  font-size: 15px;
  display: inline-block;
  margin-right: 14px;
  margin-left: 50px;
  cursor: pointer;
}

.p-banner{
  margin-top: 50px;
  margin-left: 6px;
  font-size: 55px;
  width: 1000px;
  text-align: center;
  margin-bottom: 0px;
  
}

.p2{
  margin-top: 13px;
  margin-bottom: 270px;
}

.bigDiv{
  width: 1000px;
  border-radius: 50px;
  background: linear-gradient(760deg, #000000 0%, #ED3237 466.37%);
  height: 2000px;
  text-align: left;
  padding-top: 40px;
  padding-left: 100px
}

.what-we-do{
  color: rgb(237, 50, 55);
  font-size: 18px;
  text-align: lef;
  margin-top: 20px;
  margin-bottom: 20px;;
}

.creating{
  color: white;
  font-size: 38px;
  width: 410px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 70px;
}

.first-img{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
}

.second-img{
 display: inline-block;
 margin-top: 50px;
 padding-top: 50px
 height:450px;
 marg
}

.first-text{
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 460px;
  line-height: 24px;
  margin-top: 25px;
}

.second-text{
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 460px;
  line-height: 24px;
}

